<!-- Error page if in development mode  -->

<% layout("layout/boilerplate") %> 

<div class="row">

    <div class="col-6 offset-3">

        <div class="alert alert-danger" role="alert" style="word-break:break-word;">
            <h4 class="alert-heading"><%= err.message %> </h4>
            <!-- Only render error stack if in development mode  -->
            <% if (process.env.NODE_ENV !== 'production') { %> 
                <p><%= err.stack %> </p>
            <% } %> 
        </div>

    </div>

</div>

