    
    <footer class="footer bg-dark mt-auto">
        <div class="container py-3 text-muted ps-4" style="max-width: 80vw">
            &copyTravel Journal 2022
        </div>
    </footer>

</html>