<% layout('layout/boilerplate.ejs') %> 

<div class="container">

    <div class="row">

        <div class="col-3">
            <div>image</div>
            <div>name</div>
            <div>bio</div>
        </div>

        <div class="col-9">
            <div>my travels</div>
        </div>

    </div>    

</div>