<% layout('layout/boilerplate') %> 

    <div class="row">

      <h1 class="text-center">New Travel</h1>

        <div class="col-6 offset-3">

          <form action="/travels" method="post" novalidate class="validated-form">
            <div class="mb-3">
              <label class="form-label" for="title">Title:</label>
              <input class="form-control" type="text" name="travel[title]" placeholder="Title of current travel" required>
              <div class="valid-feedback">Look's good!</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="description">Description:</label>
              <input class="form-control" name="travel[description]" placeholder="Describe your travel" required>
              <div class="valid-feedback">Look's good!</div>
            </div>
            <label class="form-label" for="price">Price:</label>
            <div class="mb-3 input-group">
              <span class="input-group-text">$</span>
              <input class="form-control" type="text" name="travel[price]" placeholder="Enter 0 if it was cost-free" required>
              <div class="valid-feedback">Look's good!</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="location">Location:</label>
              <input class="form-control" type="text" name="travel[location]" placeholder="City, State" required>
              <div class="valid-feedback">Look's good!</div>
            </div>
            
            <div class="mb-3">
              <label class="form-label" for="img">Image URL:</label>
              <!-- <input class="form-control" type="file" name="travel[img]"> -->
              <input class="form-control" type="text" name="travel[img]" placeholder="URL" required>
              <div class="valid-feedback">Look's good!</div>
            </div>
            
            <div class="mb-3">
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
        
          </form>

          <div>
            <a href="/travels" class="btn btn-primary">Back to Travel Journal</a>
          </div>

        </div>

    </div>
  
      
  