<% layout('layout/boilerplate') %> 

<div class="container mt-5">

  <div class="row">
    
    <div class="col-md-6 offset-md-3 col-xl-6 offset-xl-3">
      <div class="card shadow">
        <div class="card-body">

      <h5 class="text-center">New Travel</h5>

          <form action="/travels" method="post" class="validated-form" novalidate enctype="multipart/form-data">
            <div class="mb-3">
              <label class="form-label" for="title">Title:</label>
              <input class="form-control" type="text" name="travel[title]" placeholder="Title of current travel" required>
              <div class="valid-feedback">Look's good!</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="description">Description:</label>
              <textarea class="form-control" name="travel[description]" placeholder="Describe your travel" cols="30" rows="2" required></textarea>
              <div class="valid-feedback">Look's good!</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="location">Location:</label>
              <input class="form-control" type="text" name="travel[location]" placeholder="City, State" required>
              <div class="valid-feedback">Look's good!</div>
            </div>
            <label class="form-label" for="price">Price:</label>
            <div class="mb-3 input-group">
              <span class="input-group-text">$</span>
              <input class="form-control" type="text" name="travel[price]" placeholder="Minimum is $0" required>
              <div class="valid-feedback">Look's good!</div>
            </div>
            
            <div class="mb-3">
              <!-- <label class="form-label" for="img">Image URL:</label> -->
              <!-- <input class="form-control" type="text" name="travel[img]" placeholder="URL" required> -->
              <label for="img" class="form-label">Upload images:</label>
              <input class="form-control" type="file" name="img" multiple>
              <div class="valid-feedback">Look's good!</div>
            </div>

            <div class="mb-3 d-flex justify-content-between">
              <button type="submit" class="btn btn-success">Submit</button>
              <a href="/travels" class="btn btn-primary">Back to All Travels</a>
            </div>
        
          </form>

      </div>
    
    </div>
  </div>
</div>

</div>

      
  